.maps-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}
.header-maps {
    text-align: center;
    background: #333333;
    font-size: 1.75rem;
    padding: 18px 0;
    margin: 0 30px;
}

.image-container-maps {
    flex-wrap: wrap;
    width: 800px;
    padding: 18px 16px;
    margin: 30px 50px;
    border-radius: 15px;
    background: #333333;


}

.weather-map {
    height: 750px;
    width: 750px;
    padding: 0 25px;
    display: flex;
    justify-items: center;
    justify-content: center;
    /*border-radius: 500%;*/

}

